/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  #searchInput {
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #searchResults {
    margin-top: 20px;
  }
  
  #searchResults div {
    margin-bottom: 10px;
    font-size: 18px;
  }
  